yfinance==0.1.60
gnews==0.2.0
streamlit==0.83.0
beautifulsoup4==4.9.3
pandas==0.25.3
requests==2.25.1
googlesearch-python==1.0.1
nltk==3.4.5
numpy==1.18.1
scikit-learn==0.22.1
argparse==1.2.1
distribute==0.6.24
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
psycopg2==2.5.2
pystache==0.5.3
static==1.0.2
wsgiref==0.1.2
